# Enable rewrite engine
RewriteEngine On
RewriteBase /

# Serve files from the dist folder if they exist
RewriteCond %{REQUEST_URI} !^/dist/
RewriteCond %{DOCUMENT_ROOT}/dist%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}/dist%{REQUEST_URI} -d
RewriteRule ^(.*)$ /dist/$1 [L]

# Redirect to index.html for non-existent files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /dist/index.html [L]
