# Enable rewrite engine
RewriteEngine On
RewriteBase /

# Redirect to index.html inside the dist folder if the requested resource is not a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /dist/index.html [L]
